*{
    padding:0;
    margin:0;
}

.page{
    border: 1px solid #00f;
}

.navbar{
    background-color: white;
    font-size: 15px;
    height: 70px;
    position: sticky;
    z-index: 1000;
    border:1px solid #f00;
    display: flex;
    justify-content: center;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    max-width: 1200px;
    border:1px solid #0f0;

}

.navbar-menu{
     list-style: none;
     display: flex;
     align-items: center;
}

.navbar-menu li{
    padding:10px;
    
}

a{
    text-decoration: none;
}

#navbar-logo{
    color: black;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.navbar-links{
    color: black;
    font-family: 'Open Sans', sans-serif;
}


@media (max-width: 1024px){

}


@media (max-width: 768px){

}


@media (max-width: 640px){

}