*{
    padding:0;
    margin:0;
}

.page{
    border: 1px solid #00f;
}

.navbar{
    background-color: beige;
    font-size: 20px;
    height: 70px;
    position: sticky;
    z-index: 1000;
    border:1px solid #f00;
    display: flex;
    justify-content: center;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    max-width: 1200px;
    border:1px solid #0f0;

}

.navbar-menu{
     list-style: none;
     display: flex;
     align-items: center;
}

.navbar-menu li{
    padding:10px;
    
}

a{
    text-decoration: none;
}


