*{
    padding:0;
    margin:0;
}

/* .page{
   border: 1px solid #00f;
} */

.navbar{
    background-color: white;
    font-size: 15px;
    height: 70px;
    position: sticky;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
}

.navbar-menu{
     list-style: none;
     display: flex;
     align-items: center;
}

.navbar-menu li{
    padding:10px;
}

a{
    text-decoration: none;
}

#navbar-logo{
    color: #7724ff;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.navbar-links{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.navbar-links:hover{
    color:#7724ff;
    transition: all 0.2s ease;
}


/* main section home */

.main-container{
    margin:0 auto;
    z-index: 1;
    background-image: url("images/idmainimg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
}

.main-text{
    position: absolute;
    top: 15vw;
    left: 15%;
    z-index: 3;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width:55%;
}
.empty-container{width:30%;}

.main-text h1{
    font-family: 'Paytone One', sans-serif;
    font-size: 60px;
    width: 60%;
    line-height: 80px;
}

.main-text h2{
    padding-top: 10px;
}

.main-btn{
    background-color: white;
    color: #000;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border: none;
    position:absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ccc;
    transition: all 0.2s;
}

.main-btn:hover{
    box-shadow: inset 150px 0 0 0 #ccc;
    color: white;
}

#main-img{
    align-items: top;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left:0;
    z-index: 2;
}

/* COMMEND SECTION */

.commends{
    /* border: 1px solid green; */
    height: 20vh;
    display: flex;
    align-items: center;
}

.commends-img1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/medal-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border:1px solid #ccc; */
}

.commends-img2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/freshly-made.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    /* border:1px solid #ccc; */
}

.commends-img3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/insane-value.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    /* border:1px solid #ccc; */
}

.commends-container{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}

.commends-item{
    height: 15vh;
    width:30%;
    /* border: 1px solid brown; */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.commends h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* INFO SECTION */

.info-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #f7f7f7;;
    /* border: 1px solid red; */
}

.about {
    height: 70%;
    width: 28%;
    background-image: url("images/aboutus.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.about-btn, .products-btn{
    position: absolute;
    margin-top: 43vh;
    background-color: white;
    color: #000;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ccc;
    transition: all 0.2s;
}

.about-btn:hover, .products-btn:hover{
    box-shadow: inset 150px 0 0 0 #ccc;
    color: white;
}

.products{
    height: 70%;
    width: 28%;
    background-image: url("images/pizza.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

/* FOOTER SECTION */

.footer{
    height: 100px;
    width: 100%;
    background-color: #fff;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-name{
    width:100%;
    text-align: center;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}

.footer-list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer-list li{
    padding: 20px;
}

.footer-links{
    color: #000;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}



/* ABOUT US PAGE */

.about-container{
    width: 100%;
    height: 40vh;
}

.about-main{
    text-align: center;
}

.about-main h1{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding-top: 80px;
}

.about-main-img{
    position: absolute;
    top: 35vh;
    background-image: url("images/gochurestaurant.jpg");
    background-size: contain;
    background-repeat: no-repeat; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 700px; 
    max-height: 700px;
    width: 100%;
    height: 100%;
}


.about-filler{
    background-color: #e0e0e0;
    height: 38vh;
    width: 100%;
    /* border: 1px solid red; */
}

.about-text{
    
    top: 80vh;
    background-color: #e0e0e0;
    width: 100%;
    /* border: 1px solid #7724ff; */
    display: flex;
    justify-content: center;
}

.about-desc{
    text-align: center;
    max-width: 700px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.about-desc h3{
    font-weight: 700;
    font-size: 22px;
}

.about-desc p{
    font-weight: 400;
    font-size: 21px;
}

.about-time-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    margin-top: 5vh;
}

.about-time-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
}

.about-time-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
}

.about-contact-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10vh;
}

.about-contact-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
    order: 2;
}

.about-contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    order: 1;
    color: black;

}



/* PRODUCTS PAGE */

.products-banner-container, .location-banner-container{
    width: 100%;
    height: 40vh;
    overflow: hidden;

}

.products-banner{
    background-image: url("images/pizza-purple-background3.png");
    background-size: cover;
    background-position: center;
    background-size: 110%, 110%;
    width: 120%;
    height: 50vh;
    background-repeat: no-repeat;
    transition: all 50ms;
}

.location-banner{
    background-image: url("images/location-pizza.png");
    background-size: cover;
    background-position: center;
    width: 120%;
    height: 50vh;
    background-repeat: no-repeat;
    transition: all 50ms;
}

.products-banner-text-container, .location-banner-text-container{
    position: absolute;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-banner-text, .location-banner-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    color: white;
    position: absolute;
    z-index: 100;
}

.pizza-container, .drinks-container{
  text-align: center;
}

.pizza-header, .drinks-header{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pizza-list, .drinks-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.pizza-item-container, .drinks-item-container{
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.pizza-item{
    width: 400px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.drinks-item{
    width: 300px;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: 35%;
}

.p1{background-image: url("images/cheese-pizza.png");}
.p2{background-image: url("images/vegetable-enjoyer.png");}
.p3{background-image: url("images/meat-galore.png");}
.p4{background-image: url("images/mushroom-ham.png");}
.p5{background-image: url("images/fiery-pepperoni.png");}
.p6{background-image: url("images/classic-hawaiian.png");}

.d1{background-image: url("images/coke-can.png");}
.d2{background-image: url("images/sprite-can.png");}
.d3{background-image: url("images/ice-lemon.png");}
.d4{background-image: url("images/water.png");}

hr{
    margin-top: 50px;
}



/* LOCATION PAGE */

.location-main{
    background-color: #fafafa;
    width: 100%;
}

.location-container{
    padding:100px 0;
    max-width:1200px;
    width: 100%;
    margin:0 auto;
}

.location-item{
    display:grid;
    grid-template-columns: 50% 50%;
    height: 50vh;
}

.location-list{
    background-color: white;
    overflow: auto;
}

.location-list a{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: black;
    padding: 20px;
    background-color: white;
}

.location-list a:focus, .location-list a:hover{
    background-color: #e6e6e6;
    transition: all 300ms;
}

.location-hours{

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.location-button{
    margin:0 auto;
    width: 100%;
    text-align: left;
}

.map{
    height: 50vh;
    width: 100%;
}



@media (max-width: 1024px){

    .products, .about{
        height: 50%;
        width: 40%;
    }

    .about-btn, .products-btn{
        margin-top: 30vh;
    }
}


@media (max-width: 768px){
    
    .navbar-container{
        padding: 0;
    }
    
    .navbar-menu{
        display:grid;
        grid-template-columns: auto;
        top: -1000px;
        opacity: 0;
        transition: all 0.3s ease;
        height: 150px;
        z-index: -1;
        width: 100%;
        position: absolute;
    }

    .navbar-menu.active{
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 999;
        height: 150px;
        font-size: 12px;
    }

    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
        display: block;
        cursor: pointer;
    }

    .navbar-menu li{
        padding:0;
    }
    .navbar-button{
        width: 100%;
    }

    .navbar-links{
        text-align: center;
        display: table;
        width: 100%;  
    }

    #navbar-logo{
        padding-left: 25px;
    }


    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .main-container{
        background-image: url("images/pizza-main-2.jpg");
    }

    .main-text{
        top: 20vh;
        left:10%;
        margin:0 auto;
        text-align:center;
        font-size: 15px;
        width:80%;
        height: 80vh;
        text-shadow: 0 0 50px #000;
    }

    .main-btn{
         
        margin-top: 20px;
        cursor: pointer;
        margin-left:-75px;
    }

    .main-text h1{
       
        font-size: 50px;
        width: 100%;
        line-height: 70px;
    }

    .empty-container{
        width: 0%;
    }
    
    .commends h3{
        font-size: 13px;
    }

    .about, .products{
        width: 95%;
        height: 50vh;
        background-size: 85%;
        margin-top: 20px;
    }

    .products{
        margin-bottom: 25px;
    }

    .about-btn, .products-btn{
        margin-top: 37vh;
    }

    .info-container{
         
        flex-wrap: wrap;
        height: 930px;
        margin-bottom: 30px;
    }
    
    .footer-list li{
        padding:15px;
    }
    
    .footer-links{
        font-size: 14px;
    }

    

    /* ABOUT PAGE */

    .about-main-img{
        background-size: cover;
        background-position: center;
        left: none; 
        right: none; 
        max-width: 100%;
        max-height: auto;
        width: 100%;
        height:400px;
        top: 30vh;
    }

    .about-text{
        top: 650px;
    }

    .about-main h1{
        font-size: 40px;
        padding-top: 60px;
    }

    .about-desc{
        width: 87%;
        font-size: 16px;
        text-align: left;
    }

    .about-desc h3{
        font-weight: 700;
        font-size: 22px;
    }
    
    .about-desc p{
        font-weight: 400;
        font-size: 18px;
    }
    
    .about-time-content p, .about-contact-content p, .about-time-header p, .about-contact-header p{
        font-size: 14px;
    }

    /* PRODUCTS PAGE */

    .pizza-header, .drinks-header{
        font-size: 25px;
    }

    /* LOCATION PAGE */

    .location-item{
        display:flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .products-banner-text, .location-banner-text{
        font-size: 45px;
    }

    .location-container{
        padding:0 0;
        max-width:1200px;
        width: 100%;
        margin:0 auto;
    }

}




@media (max-width: 640px){

}